body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: darkslategray;
  background-color: lavender;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
}